/************************************/
/* Feuille de style Alligator NEWS  */
/* Copyright :                      */
/* PERCEREAU Lucas                  */
/* LEPINE Thomas                    */
/************************************/

* {
  box-sizing: border-box;
}

/*********/
/* Body */
/*********/
body {
  font-family: Calibri, Arial;
  margin: 0;
}
/*********/
/*********/

/**********/
/* Header */
/**********/
.header {
  background: #004875;
  display: flex;
}

.titre {
  flex: 60%;
  color: white;
  text-align: center;
  margin: auto;
  padding: 0px 0px;
}
.titre h1{
  text-align: center;
  margin: auto;
  margin-top: 36px;
  font-size: 60px;
  flex: 60%;
  font-family: Arno Pro, Tribun ADF Std, serif;
  text-shadow: black 0.1em 0.1em 0.1em;
}
.LogoPolytech {
  float: left;
  flex: 20%;
  margin: auto;
}
.LogoPolytech img{
  max-width: 70%;
  max-height: 70%;
  vertical-align: middle;
  float: left;
  margin-left: 15px;
}

.LogoAlligator {
  float: right;
  flex: 20%;
  margin: auto;
}
.LogoAlligator img{
  max-width: 70%;
  max-height: 70%;
  vertical-align: middle;
  float: right;
  margin-right: 30px;
}
/**********/
/**********/

/***********************/
/* Barre de navigation */
/***********************/
.navbar {
  display: flex;
  background-color: #e8947d;
  width: 100%;
  top: 0;
}

.navbar a {
  color: black;
  padding: 12px 36px;
  text-decoration: none;
  text-align: center;
  display: block;
}
.navbar hr {
  color: #004875;
  background-color: #004875;
  height: 1px;
  border: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar a:hover {
  background-color: #9C5744;
  color: #E8B9AC;
}
/***********************/
/***********************/


/***********************/
/*   Menu deroulant    */
/***********************/
.sous{
  display: none;
  background-color: #e8947d;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.navbar > ul li:hover .sous{
  display: block;
}
.navbar ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.navbar ul li{
  float: left;
  width: 100%;
  text-align: left;
  position: relative;
}
.sous a{
  padding: 10px;
}
.deroulant > a::after{
  content:" ▼ ";
  font-size: 18px;
}
/***********************/
/***********************/

/*********************************/
/* Colonne principale de l'index */
/*********************************/
.mainEdition {
  background-color: #004875; 
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
.mainArticle {
  background-color: #004875; 
  padding: 20px;
  text-align: justify;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/*********************************/
/*********************************/


/*************************/
/* Présentation Editions */
/*************************/
.Edition {
  text-align: justify;
  background-color: #f1f1f1;
  padding: 4px 5px;
  overflow-y: hidden;
  display: flex;
}
.Edition a {
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align : middle;
  display: block;
  padding: 4px 2px;
}
.Edition a:hover {
  background-color: #ddd;
  color: black;
}
.plop_new {
  text-decoration: blink;
  text-shadow: black 0.01em 0.05em 0.05em;
  color: red;
  float: right;
  margin-top: 0px;
  margin-right: 10px;
  padding-bottom: 5px;
  text-indent: 0px;
  text-emphasis-color: red;
  text-rendering: auto;
  font-style: italic;
}
/*************************/
.LeftRow {
  text-align: justify;
  background-color: #f1f1f1;
  float: left;
  padding: 4px 2px;
  flex: 20%;
}
.LeftRow img {
  max-width: 80%;
  vertical-align: middle;
}
.RightRow {
  text-align: justify;
  background-color: #f1f1f1;
  float: right;
  padding: 10px 21px;
  flex: 80%;
}
/*************************/
/*************************/

/*************************/
/* Présentation Articles */
/*************************/
.Article {
  text-align: justify;
  background-color: #f1f1f1;
  display: flex;
  min-width: 48%;
  max-width: 48%;
  margin: 5px;
}
.Article a {
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align : middle;
  display: block;
  padding: 4px 2px;
}
.Article a:hover {
  background-color: #ddd;
  color: black;
}
/*************************/
/*************************/

/********************/
/* Articles complet */
/********************/
.FullArticle {
  text-align: justify;
  background-color: #f1f1f1;
  padding: 10px 10px;
}
.FullArticle hr {
  color: #004875;
  background-color: #004875;
  height: 2px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 24px;
  margin-right: 24px;
}
/********************/
/********************/

/**********/
/* Footer */
/**********/
.footer {
  padding: 2px;
  text-align: center;
  background: #333;
  color:  gray;
  position: absolute;
  width: 100%;
  left: 0;
}

.footer h2 {
  color: white;
  text-align: center;
  font-size: 26px;
}

.footer h4 {
  color: white;
  text-align: center;
  font-size: 14px;
}

.footer p {
  color: #DCDCDC;
  text-align: center;
  font-size: 11px;
}
/**********/
/**********/

/*********************/
/* Responsive layout */
/*********************/
@media screen and (max-width: 860px) { /* Resolution d'un  portable*/
  .row, .navbar {
    flex-direction: column;
  }
  .titre h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 860px){ /* Resolution d'une fenêtre sur un PC*/
  .navbar {
    position: sticky;
  }
}
@media screen and (max-width: 400px) { /* Resolution d'une petite fenêtre / petit écran */
  .row, .navbar {
    flex-direction: column;
  }
  .footer h3, .footer h2, .deroulant, .Edition, .header p, .main h1 {
    font-size: 16px;
  }
  .main p {
    font-size: 12px;
  }
}
/*********************/
/*********************/
