/************************************/
/* Feuille de style Alligator NEWS  */
/* PERCEREAU Lucas                  */
/* LEPINE Thomas                    */
/************************************/

* {
  box-sizing: border-box;
}

/*********/
/* Body */
/*********/
body {
  font-family: Arial;
  margin: 0;
}
/*********/
/*********/

/**********/
/* Header */
/**********/
.header {
  background: #004875;
  display: flex;
}
.LogoPolytech {
  float: left;
  flex: 20%;
  margin: auto;
}
.LogoPolytech img{
  max-width: 80%;
  max-height: 80%;
  vertical-align: middle;
}
.titre {
  flex: 60%;
  color: white;
  text-align: center;
  margin: auto;
}
.titre h1{
  text-align: center;
  font-size: 50px;
  font-family: Arno Pro, Tribun ADF Std, serif;
  text-shadow: black 0.1em 0.1em 0.1em;
}
.LogoAlligator {
  float: right;
  flex: 20%;
  margin: auto;
}
.LogoAlligator img{
  max-width: 80%;
  max-height: 80%; 
  vertical-align: middle;
}
/**********/
/**********/

/***********************/
/* Barre de navigation */
/***********************/
.navbar {
  display: flex;
  background-color: #e8947d;
  width: 100%;
  top: 0;
}

.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  display: block;
}
.navbar a:hover {
  background-color: #9C5744;
  color: #E8B9AC; 
}
/***********************/
/***********************/


/***********************/
/*   Menu deroulant    */
/***********************/
.sous{
    display: none;
    background-color: #e8947d;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.navbar > ul li:hover .sous{
    display: block;
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navbar ul li{
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
}
.sous a{
    padding: 10px;
}
.deroulant > a::after{
    content:" ▼ ";
    font-size: 18px;
}
/***********************/
/***********************/

/*********************************/
/* Colonne principale de l'index */
/*********************************/
.main {
  background-color: #333; 
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
/*********************************/
/*********************************/


/*************************/
/* Resumé articles index */
/*************************/
.Article {
  text-align: justify;
  background-color: #f1f1f1; 
  padding: 5px 10px;
  overflow-y: hidden;
  display: flex;
}
.Article a {
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align : middle;
  display:block;
  padding: 5px 5px;
}
.Article a:hover {
  background-color: #ddd;
  color: black;
}
/*************************/
.LeftRow {
  text-align: justify;
  background-color: #f1f1f1; 
  float: left;
  padding: 5px 5px;
  flex: 20%;
}
.LeftRow img {
  max-width: 80%;
  vertical-align: middle;
}
.RightRow {
  text-align: justify;
  background-color: #f1f1f1; 
  float: right;
  padding: 5px 5px;
  flex: 80%;
}
/*************************/
/*************************/

/********************/
/* Articles complet */
/********************/
.FullArticle {
  text-align: justify;
  background-color: #f1f1f1; 
  padding: 10px 10px;
}
/********************/
/********************/

/**********/
/* Footer */
/**********/
.footer {
  padding: 1px;
  text-align: center;
  background: #333;
  color: white;
}
.footer h3 {
  color: white;
  text-align: center;
  font-size: 17px;
}
.footer p {
  color: #DCDCDC;
  text-align: center;
  font-size: 12px;
}
/**********/
/**********/	
	
/*********************/
/* Responsive layout */
/*********************/
@media screen and (max-width: 860px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

@media screen and (min-width: 860px){
	.navbar {
	 position: sticky; 
  }
}
	
@media screen and (max-width: 300px) {
  .row, .navbar {   
      flex-direction: column;
  }
  .footer h3, .footer h2, .deroulant, .Article, .header p, .main h1 {
	  font-size: 16px;
  }
  .main p {
	  font-size: 12px;
  }
}
/*********************/
/*********************/