/************************************/
/* Feuille de style Alligator NEWS  */
/* Copyright :                      */
/* PERCEREAU Lucas                  */
/* LÉPINE Thomas                    */
/************************************/

/*************************/
/* Présentation Editions */
/*************************/
.mainEdition {
  background-color: #004875;
  padding-left: 20px;
  padding-right: 20px;
}
.mainEdition a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 4px 2px;
}
.mainEdition a:hover {
  background-color: #fff;
  color: black;
}
.Edition {
  text-align: justify;
  background-color: #EFEFEF;
  padding: 2px 3px;
  display: flex;
}
/*************************************/
.left {
  background-color: #EFEFEF;
  padding: 5px;
  flex: 15%;
}
.left img {
  max-width: 100%;
}
.right {
  background-color: #EFEFEF;
  float: right;
  padding: 5px;
  flex: 85%;
  flex-direction: column;
}
.upRight{
  text-align: center;
  text-shadow: 0.01em 0em 0.01em;
  font-size: 20px;
  text-decoration:underline;
}
.downRight{
  /*height: 80%;*/
  padding-right: 15px;
  padding-left: 15px;
}
/*************************************/
/*************************************/

/*************************/
/*   Editions completes  */
/*************************/
.FullEdition {
  text-align: justify;
  background-color: #f1f1f1;
  padding: 10px 10px;
}
.FullEdition hr {
  color: #004875;
  background-color: #004875;
  height: 2px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 24px;
  margin-right: 24px;
}
/*************************/
/*************************/

/*********************/
/* Responsive layout */
/*********************/
@media screen and (max-width: 780px) { /* Resolution d'un  portable / tablette */
  .row, .navbar {
    flex-direction: column;
  }
  .titre h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 780px){ /* Resolution d'une fenêtre sur un PC*/
  .navbar {
    position: sticky;
  }
}
/*********************/
/*********************/
