/************************************/
/* Feuille de style Alligator NEWS  */
/* Copyright :                      */
/* PERCEREAU Lucas                  */
/* LÉPINE Thomas                    */
/************************************/

/*************************/
/*   Editions completes  */
/*************************/
.FullEdition {
  text-align: justify;
  background-color: #FDF5E6;
  padding: 10px 10px;
}

.FullEdition hr {
  color: #004875;
  background-color: #004875;
  height: 2px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 24px;
  margin-right: 24px;
}
/*************************/
/*************************/

/*********************/
/* Responsive layout */
/*********************/
@media screen and (max-width: 780px) { /* Resolution d'un  portable / tablette */

}
@media screen and (min-width: 780px){ /* Resolution d'une fenêtre sur un PC*/

}
/*********************/
/*********************/
